body{
	padding:0px;
	margin:0px;
}

#container{
	width:100%;
	margin:0px;
	padding:0px;
}

#results_box{
	width:100%;
	background-color:#aaa;
	padding:5px;
	color:#000;
	height:200px;
	line-height:200px;
	font-size:44px;
	
}

#results_field{
	
}

#buttons_box{
	width:100%;
	background-color:#888;
	padding:0px;
	margin:0px;
	color:#fff;
	font-size:28px;
}

.button_item{
	width:20%;
	height:100px;
	line-height:100px;
	float:left;
	padding:0px;
	margin:0px;
	background-color:#555;
	text-align:center;
}

.button_item:hover{
	background-color:#999;
}